<div class="mb-2">
  <h1>New Game</h1>
  <div class="d-flex inline-block">
    <ul>
      <% @letters.each do |letter|  %>
      <li><%= letter %></li>
      <% end  %>
    </ul>
  </div>
</div>
<form action="score" method="post" data-turbo="false">
  <p>What is the longest word you can find?</p>
  <div class="d-flex form-group mt-3">
    <input class="form-control" type="text" name="word" placeholder="write longest word using above letters">
    <input class="btn btn-primary" type="submit" value="Play">
    <!-- ... -->
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </div>
</form>
